proxy=http://roman.zavyazkin:120898Veronika1@192.168.11.251:3128/
https-proxy=http://roman.zavyazkin:120898Veronika1@192.168.11.251:3128/
registry=https://registry.npmjs.org/
strict-ssl=false
sslVerify=false
python=/wherever/python-2.7/bin/python
//srv08.bank.local:4873/:_authToken="xpIqibWw8kEm+Yfs4ULYC9ADwvncC2+XQ/q/aThydxM="